@import "tailwindcss";

:root {
  --radius: 0.625rem;
  --font-space-grotesk: "Space Grotesk", sans-serif;
  --main: #8a6de1;
}

@theme inline {
  --color-main: var(--main);
  --font-mono: var(--font-space-grotesk);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --radius-5xl: calc(var(--radius) + 20px);
}
